<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="../public/stylesheets/booking.css">
    <title>Booking</title>
</head>

<body>
    <%- include('./partials/navbar'); -%>
    <%- include('./partials/booking/form'); -%>
    <%- include('./partials/booking/store'); -%>
    <div class="loading-bar">

    </div>

    <!-- Footer -->
    <%- include('./partials/homepage/footer') %>
    <!-- End Footer -->
    <!-- <script src="../public/javascripts/worker/event.js"></script> -->
    <!-- popup form jQuery -->
    <script src="../public/javascripts/animation/animation.js"></script>

    <script>
        let toggleMenu = () => {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        };

        window.sr = ScrollReveal();
        sr.reveal('.anim');
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script type="module">

        let socket = io();

        //list information of store
        import {store} from '../public/javascripts/store.js';

        let mcdonald_name = document.querySelectorAll('.mcdonald-name');
        let mcdonald_address = document.querySelectorAll('.mcdonald-address');
        let mcdonald_time = document.querySelectorAll('.mcdonald-time');

        //form information
        let mcdonald_date_form = document.querySelector('#mcdonald-date-form');
        let mcdonald_time_form = document.querySelector('#mcdonald-time-form');
        let mcdonald_capacity_form = document.querySelector('#mcdonald-capacity-form');
        let mcdonald_fullname_form = document.querySelector('#fullname-form');
        let mcdonald_email_form = document.querySelector('#email-form');
        let mcdonald_phone_form = document.querySelector('#phone-form');

        let btnBooking = document.querySelector('#booking-form');
        btnBooking.onclick = (()=>{
            //console.log(getFormBooking(store_id, mcdonald_date_form.value, mcdonald_time_form.value, mcdonald_capacity_form.value, mcdonald_fullname_form.value, mcdonald_email_form.value, mcdonald_phone_form.value));
            if(checkDateTime()){
                if(!checkValidForm()){
                    if(confirm('Are you sure for booking?')){
                        postFormBooking(getFormBooking(store_id, mcdonald_date_form.value, mcdonald_time_form.value, mcdonald_capacity_form.value, mcdonald_fullname_form.value, mcdonald_email_form.value, mcdonald_phone_form.value));
                        //console.log('da book');
                    } else return;
                }
                else{
                    alert('Please fill in the form');
                }
            }else{
                alert('Please check your date and time again !')
            }
        });    
        
        
        let popup = document.querySelectorAll('.open-popup');
        for (let i = 0; i < popup.length; i++) {
            if(i<10){
                popup[i].value = `store0${i}`;
            }else{
                popup[i].value = `store${i}`;
            }
            popup[i].onclick = () => {
                if(checkLogin()){
                    alert('Please log in before booking')
                }else{
                    store_id = popup[i].value;
                    $('html,body').animate({
                        scrollTop: 0
                    }, 'slow');
                    document.body.className = "loading";
                    $.ajax({
                        type: "POST",
                        url: '/booking/queryUser',
                        data: JSON.stringify({message: 'queryUser'}),
                        contentType: 'application/json',
                        dataType: "json",
                        success: function (res) {
                            let fullnameForm = document.querySelector('#fullname-form');
                            let emailForm = document.querySelector('#email-form');
                            let phoneForm = document.querySelector('#phone-form');

                            fullnameForm.value = res.fullname;
                            emailForm.value = res.email;
                            phoneForm.value = res.phone;
                            document.body.className = "";
                        },
                        error: function (error) {
                            alert(error);
                        }
                    });
                    timeBooking(i, store[i].time_open, store[i].time_close);
                    
                    return false;
                }
            };
        }

        //lây thông tin trong booking-form và thông tin cửa hàng cbi chuyển về server
        let store_id = '';
        let getFormBooking = (store_id, date, time, capacity, fullname, email, phone)=>{
            return {
                id : store_id,
                date: date,
                time : time,
                capacity : capacity,
                fullname : fullname,
                email : email,
                phone : phone
            }
        };
        //kiểm tra form có điền đủ thông tin không
        let checkValidForm = () => {
            return store_id == '' || mcdonald_date_form.value == '' || mcdonald_time_form.value == '' || mcdonald_capacity_form.value == '' || mcdonald_fullname_form.value == '' || mcdonald_email_form.value == '' || mcdonald_phone_form.value == '';
        };

        let postFormBooking = (getFormBooking) => {
                document.body.className = "loading";
                $.ajax({
                type: "POST",
                url: '/booking',
                data: JSON.stringify(getFormBooking),
                contentType: 'application/json',
                dataType: "json",
                success: function (mess) {
                    let res = JSON.stringify(mess);
                    let info = JSON.parse(res);
                    let confirmStatus = document.querySelector('#confirm-status');
                    if(info.type == 'valid'){
                        let infoOrder = document.querySelector('#info-order');
                        let infoConfirm = document.querySelector('#info-confirm');

                        infoOrder.style.display = 'none';   

                        let confirmStore = document.querySelector('#confirm-store');
                        let confirmDay = document.querySelector('#confirm-day');
                        let confirmTime = document.querySelector('#confirm-time');
                        let confirmCapacity = document.querySelector('#confirm-capacity');
                        let confirmaName = document.querySelector('#confirm-name');

                        confirmStatus.innerHTML = info.type;

                        confirmStore.value = mess.store_id;
                        confirmDay.value = mess.day;
                        confirmTime.value = mess.time;
                        confirmCapacity.value = mess.capacity;

                        infoConfirm.style.display = 'block';

                        socket.emit('db-onchange', JSON.stringify(info));
                        document.body.className = "";
                    } else {
                        alert(info.message);
                        confirmStatus.innerHTML = info.type;
                        document.body.className = "";
                    }
                },
                error: function (error) {
                    alert(error);
                }
            });
        };
        
        //check ngày giờ có hợp lý khi đặt không
        let checkDateTime = () => {
            let datetime = new Date();
            let currentTime = '';
            let currentHour = '';
            let currentMinute = '';
            if(datetime.getHours() < 10){
                currentHour = `0${datetime.getHours()}`;
            }else currentHour = `${datetime.getHours()}`;

            if(datetime.getMinutes() < 10){
                currentMinute = `0${datetime.getMinutes()}`;
            }else currentMinute = `${datetime.getMinutes()}`;
            
            currentTime = `${currentHour}:${currentMinute}`;
            
            let currentDate = datetime.toLocaleDateString('en-US');
            //console.log(currentTime, currentDate);
            if(mcdonald_date_form.value > currentDate){
                //cho book
                return true;                
            }
            else{
                if(mcdonald_time_form.value > currentTime){
                    return true;                   
                }
                else {
                    // khong cho book
                    return false;
                }
            }
        };

        //kiểm tra đã đăng nhập chưa, true => chưa login
        let checkLogin = () => {
            let hiddenEmail = document.querySelector('#statusUser');
            return hiddenEmail.innerHTML == '';
        }
    </script>
</body>

</html>